.homePage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    min-height: 100vh;
    max-width: 90vw;
}

.heroLine {
    font-family: "Playfair Display", serif;
}

.heroImage {
    
    
    
    border-radius: 1.5rem;
}

.vision {
    
    
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
}

.border-radius-Image {
    border-radius: 2rem;
}